html{
    scroll-behavior: smooth;
}

body{
    width: 80%;
    margin: auto;
    font-family:sans-serif
}
h1{
    font-size: 2.5rem;
}
p{
    font-size: 1.5rem;
}

a{
    font-size: 2rem;
    margin: 1rem;
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding: 1rem;
}

a:nth-child(1){
    margin-left: 0;
    padding-left: 0;
}
a:hover{
    color:rgb(150, 148, 163);
    text-decoration: underline;
}

.links{
    text-align: left;
    padding: 2rem 1rem;
    background-color: rgb(245, 245, 245);
    border-radius: 5rem;
}


.menu-btn{
    background-color: white;
    border: none;
    font-size: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}

.fadeOut{
    opacity: 0;
    transition: opacity 1s;
}

 .fadeIn{
    opacity: 1;
    transition: opacity 2s;
 }